@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */
:root {
  --bs-primary: #2e483a;
  --light-color: #f6f3ed;
  --body-bg: #f6f3ed;
}

bg-primary {
  color: var(--bs-primary);
}

header {
  background-color: var(--bs-primary);
  color: var(--light-color);
}

.navbar-brand {
  color: #F6F3ED;
}

body {
  font-family: "Sarala", sans-serif;
  background-color: var(--body-bg);
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  height: 800px;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
  color: white;
}

.how-it-works {
  border-bottom: #2e483a 2px solid;
  padding-bottom: 10px;
}
.underline {
  border-bottom: 2px solid #dadada; 
}
.list-unstyled li {
  margin-bottom: 30px; 
}

.custom-accordion {
  border: 1px solid #dadada; 
  border-radius: 0.25rem; 
}

.accordion-button {
  background-color: #f6f3ed;
  border: 0.5px solid #dadada; 
}

.accordion-button:focus {
  box-shadow: none; 
}

.accordion-body {
  padding: 1rem; 
}


.accordion { 
  margin: auto;
  border: 0.5px solid #dadada;
  border-radius: 0.25rem;
}

